/*
*	-- General / Global configurations
*/

#SplGeotabMapContainer .hidden {
  display: none;
}

/*
 *	-- SpartanLync Logo / Watermark
*/

#SplGeotabMapLogo {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 9;
  cursor: pointer;
}

#SplGeotabMapLogo:before  {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  transform: translate(0px, -8px);

  content: '';
  background: url('../images/spartanlync-logo.svg');
  background-repeat: no-repeat;
  background-position: center;

  -webkit-filter: drop-shadow( 0 0 3px rgba(47, 60, 67,.6));
  filter: drop-shadow( 0 0 3px rgba(47, 60, 67,.6));
}
#SplGeotabMapLogo > div {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 100;
  width: 150px;

  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #e0e2e3;
  border-radius: 4px;
  -webkit-filter: drop-shadow( 2px 2px 3px rgba(47, 60, 67,.6));
  filter: drop-shadow( 2px 2px 3px rgba(47, 60, 67,.6));
}
#SplGeotabMapLogo:hover > div {
  display: inline-block;
}
#SplGeotabMapLogo label,
#SplGeotabMapLogo > div > div,
#SplGeotabMapLogo > div > div > span {
  margin: 0px;
  padding: 0px;
}
#SplGeotabMapLogo label {
  font-size: 11px;
  font-weight: bold;
}
#SplGeotabMapLogo > div > div {
  display: grid;
}
#SplGeotabMapLogo > div > div > strong {
  font-size: 9px;
}
#SplGeotabMapLogo > div > div > span {
  font-size: 8px;
}
#SplGeotabMapLogo > div > div > p {
  font-size: 10px;
  text-align: center;
}

/*
 *	-- Sensor Data Tooltip
*/

#SplGeotabMapContainer [aria-label][role~="tooltip"]::after {
  font-family: "Roboto", sans-serif !important;
}
#SplGeotabMapContainer .sensor-timestamp[aria-label][role~="tooltip"]::after {
  white-space: break-spaces;
  width: 125px;
  padding: .5em 0em;
}

/*
 *	-- Panel Reset Button
*/

#SplGeotabMapResetBtn {
  position: absolute;
  top: 5px;
  right: 20px;
  margin: 0px;
}
#SplGeotabMapResetBtn button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  -webkit-box-shadow: -3px 1px 3px rgba(47, 60, 67, 0.6);
  box-shadow: -1px 1px 3px rgba(47, 60, 67, 0.6);

  color: #fff;
  background-color: #b5b6b7;
  border-radius: 5px;
  border-width: 0px;
  margin: 0px;
  padding: 5px 10px;
}
#SplGeotabMapResetBtn button:hover {
  cursor: pointer;
  color: #000;
}
#SplGeotabMapResetBtn button:focus {
  color: #d65858;
  outline: 0;
}

/*
 *	-- Vehicle Sensor Data Popup on Map
*/

#SplGeotabMapContainer {
  position: relative;
  max-width: 300px;
  padding: 2px 10px;
  margin: 0px;
  border: 1px solid #e0e2e3;
}

#SplGeotabMapContainer .title strong {
  display: block;
}
#SplGeotabMapContainer .title strong.error {
  color: #d65858;
  font-size: 12px;
}
#SplGeotabMapContainer .title label {
  font-size: 12px;
}
#SplGeotabMapContainer .title label.info {
  font-size: 13px;
}

#SplGeotabMapContainer .splTable {
  margin: 5px 0px 0px 0px;
}

#SplGeotabMapContainer .splTableRow {
  display: flex;
}

#SplGeotabMapContainer .splTableCell.header {
  border-bottom: 1px solid gray;
}

#SplGeotabMapContainer .splTableCell.header.header-top {
  margin: 0px;
  padding: 0px;
  border-right: none;
}

#SplGeotabMapContainer .splTableCell.header.tpms {
  flex: 2.05 0 0%;
}

#SplGeotabMapContainer .splTableCell.component-header {
  font-weight: bold;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#SplGeotabMapContainer .splTableCell.component-header.first {
  border-top-width: 0px;
}

#SplGeotabMapContainer .splTableCell {
  flex: 1 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9px;
  border-right: 1px solid gray;
  padding: 2px 6px;
  text-align: center;
}

#SplGeotabMapContainer .splTableCell.temptrac {
  border-right: 1px solid #04b1c7;
}

#SplGeotabMapContainer .splTableCell:last-child {
  border-right: none;
}

#SplGeotabMapContainer .splTableCell .button-badge {
  color: #fff;
  border-radius: 5px;
}

#SplGeotabMapContainer .splTableCell.tpms .button-badge {
  font-size: 10px;
  background-color: #bd2727;
  margin: 0px 5px 2px 5px;
  padding: 2px 5px;
}

#SplGeotabMapContainer .splTableCell.temptrac .button-badge {
  font-size: 9px;
  background-color: #04b1c7;
  margin: 0px 0px 2px 5px;
  padding: 2px 5px;
}

#SplGeotabMapContainer .splTableCell.content-table {
  margin: 0px;
  padding: 0px;
}

#SplGeotabMapContainer .splTableCell .content-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#SplGeotabMapContainer .splTableCell .content-body > div {
  position: relative;
  border-radius: 5px;
  margin: 2px 0px 0px 0px;
  padding: 0px;
}

#SplGeotabMapContainer .splTableCell .content-body .val-loc {
  display: block;
  border: 0px solid #ddd;
  border-radius: 4px;
  border-top-right-radius: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #2f3c43;
  color: #fff;
  margin: 2px 5px;
  padding: 2px;
  text-align: center;
  font-size: 9px;
}

#SplGeotabMapContainer .splTableCell .content-body .val-temp,
#SplGeotabMapContainer .splTableCell .content-body .val-pres,
#SplGeotabMapContainer .splTableCell .content-body > div > div > p {
  font-size: 10px;
}

#SplGeotabMapContainer .splTableCell .content-body .val-temp span,
#SplGeotabMapContainer .splTableCell .content-body .val-pres span {
  position: relative;
  top: -3px;
  font-size: 9px;
}

#SplGeotabMapContainer .splTableCell .content-body > div > div {
  text-align: center;
}

#SplGeotabMapContainer .splTableCell .content-body > div > div > p {
  margin: 0px;
  padding: 0px;
}

#SplGeotabMapContainer .splTableRow.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-top: 1px solid gray;
}

#SplGeotabMapContainer .splTableRow.footer .splTableCell {
  font-size: 10px;
}

#SplGeotabMapContainer .splTableRow.footer .splTableCell label {
  display: block;
  color: gray;
  font-weight: normal;
  margin: 0px 5px 0px 0px;
  padding: 0px;
  font-size: 9px;
}

/*
*	-- Map Vehicle Popup Animation
*/

#SplGeotabMapContainer .splTableCell .content-body > div.glow-temptrac {
  animation: glow-animation-temptrac 1s 2 alternate;
}

#SplGeotabMapContainer .splTableCell .content-body > div.glow-stay-on-temptrac {
  animation: glow-animation-temptrac 1s 4 alternate;
  -webkit-box-shadow: 0 0 10px 2px rgba(4, 177, 199, 0.5);
  -moz-box-shadow: 0 0 10px 2px rgba(4, 177, 199, 0.5);
  box-shadow: 0 0 10px 2px rgba(4, 177, 199, 0.5);
}

@keyframes glow-animation-temptrac {
  from {
    -webkit-box-shadow: 0 0 10px -10px rgba(4, 177, 199, 0.5);
    -moz-box-shadow: 0 0 10px -10px rgba(4, 177, 199, 0.5);
    box-shadow: 0 0 10px -10px rgba(4, 177, 199, 0.5);
  }
  to {
    -webkit-box-shadow: 0 0 10px 10px rgba(4, 177, 199, 0.5);
    -moz-box-shadow: 0 0 10px 10px rgba(4, 177, 199, 0.5);
    box-shadow: 0 0 10px 10px rgba(4, 177, 199, 0.5);
  }
}

#SplGeotabMapContainer .splTableCell .content-body > div.glow-tpms {
  animation: glow-animation-tpms 1s 2 alternate;
}

#SplGeotabMapContainer .splTableCell .content-body > div.glow-stay-on-tpms {
  animation: glow-animation-tpms 1s 4 alternate;
  -webkit-box-shadow: 0 0 10px 2px rgba(189, 39, 39, 0.5);
  -moz-box-shadow: 0 0 10px 2px rgba(189, 39, 39, 0.5);
  box-shadow: 0 0 10px 2px rgba(189, 39, 39, 0.5);
}

@keyframes glow-animation-tpms {
  from {
    -webkit-box-shadow: 0 0 10px -10px rgba(189, 39, 39, 0.5);
    -moz-box-shadow: 0 0 10px -10px rgba(189, 39, 39, 0.5);
    box-shadow: 0 0 10px -10px rgba(189, 39, 39, 0.5);
  }
  to {
    -webkit-box-shadow: 0 0 10px 10px rgba(189, 39, 39, 0.5);
    -moz-box-shadow: 0 0 10px 10px rgba(189, 39, 39, 0.5);
    box-shadow: 0 0 10px 10px rgba(189, 39, 39, 0.5);
  }
}


/*
*	-- General Styles (Mobile)
*/
@media (max-width: 390px) {

  #SplGeotabMapResetBtn {
    position: relative;
    top: 0px;
    right: 0px;

    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  #SplGeotabMapLogo {
    position: relative;
    top: 12px;
    right: 0px;
  }

  #SplGeotabMapLogo > div {
    top: -8px;
    left: 35px;
  }

}

/* -------------------------------------------------------------------
  Microtip

  Modern, lightweight css-only tooltips
  Just 1kb minified and gzipped

  @author Ghosh
  @package Microtip

----------------------------------------------------------------------
  1. Base Styles
  2. Direction Modifiers
  3. Position Modifiers
--------------------------------------------------------------------*/
[aria-label][role~="tooltip"]{position:relative}[aria-label][role~="tooltip"]::before,[aria-label][role~="tooltip"]::after{transform:translate3d(0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;will-change:transform;opacity:0;pointer-events:none;transition:all var(--microtip-transition-duration,.18s) var(--microtip-transition-easing,ease-in-out) var(--microtip-transition-delay,0s);position:absolute;box-sizing:border-box;z-index:10;transform-origin:top}[aria-label][role~="tooltip"]::before{background-size:100% auto!important;content:""}[aria-label][role~="tooltip"]::after{background:rgba(17,17,17,.9);border-radius:4px;color:#fff;content:attr(aria-label);font-size:var(--microtip-font-size,13px);font-weight:var(--microtip-font-weight,normal);text-transform:var(--microtip-text-transform,none);padding:.5em 1em;white-space:nowrap;box-sizing:content-box}[aria-label][role~="tooltip"]:hover::before,[aria-label][role~="tooltip"]:hover::after,[aria-label][role~="tooltip"]:focus::before,[aria-label][role~="tooltip"]:focus::after{opacity:1;pointer-events:auto}[role~="tooltip"][data-microtip-position|="top"]::before{background:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;height:6px;width:18px;margin-bottom:5px}[role~="tooltip"][data-microtip-position|="top"]::after{margin-bottom:11px}[role~="tooltip"][data-microtip-position|="top"]::before{transform:translate3d(-50%,0,0);bottom:100%;left:50%}[role~="tooltip"][data-microtip-position|="top"]:hover::before{transform:translate3d(-50%,-5px,0)}[role~="tooltip"][data-microtip-position|="top"]::after{transform:translate3d(-50%,0,0);bottom:100%;left:50%}[role~="tooltip"][data-microtip-position="top"]:hover::after{transform:translate3d(-50%,-5px,0)}[role~="tooltip"][data-microtip-position="top-left"]::after{transform:translate3d(calc(-100% + 16px),0,0);bottom:100%}[role~="tooltip"][data-microtip-position="top-left"]:hover::after{transform:translate3d(calc(-100% + 16px),-5px,0)}[role~="tooltip"][data-microtip-position="top-right"]::after{transform:translate3d(calc(0% + -16px),0,0);bottom:100%}[role~="tooltip"][data-microtip-position="top-right"]:hover::after{transform:translate3d(calc(0% + -16px),-5px,0)}[role~="tooltip"][data-microtip-position|="bottom"]::before{background:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;height:6px;width:18px;margin-top:5px;margin-bottom:0}[role~="tooltip"][data-microtip-position|="bottom"]::after{margin-top:11px}[role~="tooltip"][data-microtip-position|="bottom"]::before{transform:translate3d(-50%,-10px,0);bottom:auto;left:50%;top:100%}[role~="tooltip"][data-microtip-position|="bottom"]:hover::before{transform:translate3d(-50%,0,0)}[role~="tooltip"][data-microtip-position|="bottom"]::after{transform:translate3d(-50%,-10px,0);top:100%;left:50%}[role~="tooltip"][data-microtip-position="bottom"]:hover::after{transform:translate3d(-50%,0,0)}[role~="tooltip"][data-microtip-position="bottom-left"]::after{transform:translate3d(calc(-100% + 16px),-10px,0);top:100%}[role~="tooltip"][data-microtip-position="bottom-left"]:hover::after{transform:translate3d(calc(-100% + 16px),0,0)}[role~="tooltip"][data-microtip-position="bottom-right"]::after{transform:translate3d(calc(0% + -16px),-10px,0);top:100%}[role~="tooltip"][data-microtip-position="bottom-right"]:hover::after{transform:translate3d(calc(0% + -16px),0,0)}[role~="tooltip"][data-microtip-position="left"]::before,[role~="tooltip"][data-microtip-position="left"]::after{bottom:auto;left:auto;right:100%;top:50%;transform:translate3d(10px,-50%,0)}[role~="tooltip"][data-microtip-position="left"]::before{background:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;height:18px;width:6px;margin-right:5px;margin-bottom:0}[role~="tooltip"][data-microtip-position="left"]::after{margin-right:11px}[role~="tooltip"][data-microtip-position="left"]:hover::before,[role~="tooltip"][data-microtip-position="left"]:hover::after{transform:translate3d(0,-50%,0)}[role~="tooltip"][data-microtip-position="right"]::before,[role~="tooltip"][data-microtip-position="right"]::after{bottom:auto;left:100%;top:50%;transform:translate3d(-10px,-50%,0)}[role~="tooltip"][data-microtip-position="right"]::before{background:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;height:18px;width:6px;margin-bottom:0;margin-left:5px}[role~="tooltip"][data-microtip-position="right"]::after{margin-left:11px}[role~="tooltip"][data-microtip-position="right"]:hover::before,[role~="tooltip"][data-microtip-position="right"]:hover::after{transform:translate3d(0,-50%,0)}[role~="tooltip"][data-microtip-size="small"]::after{white-space:initial;width:80px}[role~="tooltip"][data-microtip-size="medium"]::after{white-space:initial;width:150px}[role~="tooltip"][data-microtip-size="large"]::after{white-space:initial;width:260px}